
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Crop label app</title>
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
{% load static %}

  <link rel="stylesheet" href="{% static "cropLabel/css/main.css" %}"  type="text/css" />
  <link rel="stylesheet" href="{% static "cropLabel/css/demos.css" %}"  type="text/css" />
  <link rel="stylesheet" href="{% static "cropLabel/css/jquery.Jcrop.css" %}"  type="text/css" />
  <link rel="stylesheet" href="{% static "cropLabel/css/labelIt.css" %}"  type="text/css" />


  <script>
    var project_name = '{{ projectName }}'
    var project_folder = '{{ projectFolder }}'
    var initial_image = '{{ imgInit }}'
    var crop_data = {'imagesPath': '{{ imgPath }}',
                'cropdata': {{ cropDataList }},
                'labels' : {{ labels }},
                'existingCaptures' : {{ existingCaptures }},
                'labelColors' : {{ labelColors }},
                'plugins' : {{ plugins }},
                'selected': 0}
  </script>

  <script src="{% static "cropLabel/js/jquery.min.js" %}"></script>
  <script src="{% static "cropLabel/js/jquery.Jcrop.js" %}"></script>
  <script src="{% static "cropLabel/js/labelIt.js" %}"></script>

</head>
  <title>{{ projectName }}</title>
  <body>

    <div class="container">
      <div class="row">
        <div class="span12">

          <!-- The lmodal -->
          <div id="myModal" class="lmodal">
            <!-- Modal content -->
            <div class="lmodal-content">
              <span class="close" id="close">&times;</span>
              <p>Enter new or Select existing label</p>
              <label for="labels"><b>Labels</b></label>
              <input type="text" placeholder="Enter New Label" name="newlabel" id="newlabel">
              <select name="selectlabels" id="selectlabels">
              </select>
            </div>
          </div>

          <div class="jc-demo-box">

            <div class="page-header">
              <h1>Image label {{ projectName }}</h1>
            </div>
            <div id="target-canvas"></div>
            <img src="{{ imgPath }}/{{ imgInit }}" id="target" alt="[Jcrop Example]"/>
            <div id="preview-pane">
              <div class="preview-container">
                <img src="{{ imgPath }}/{{ imgInit }}" class="jcrop-preview" alt="Preview"/>
              </div>
            </div>
            <div>
              <fieldset class="requiresjcrop" style="margin: .5em 0;">
                <div class="btn-group">
                  <button class="btn" id="bback">Back</button>
                </div>
                <div class="btn-group">
                  <button class="btn" id="bnext">Next</button>
                </div>
              </fieldset>
            </div>
            <div>True Width: <input type="text" size="10" id="twd" name="twd" />,
            True Height: <input type="text" size="10" id="thd" name="thd" /></div>
            <!-- split area in to fix divs-->

            {% csrf_token %}

            <div class="inline-labels">
              <label>Image Name <input type="text" size="8" id="img_name" name="img_name" value="{{ imgInit }}" style="width:100px"/></label>
              <label>Label <input type="text" size="4" id="label_name" name="label_name" value="" style="width:50px"/></label>
              <label>Color <input type="text" size="4" id="color_name" name="color_name" value="" style="width:50px"/></label>
            </div>
            <div class="inline-labels">
              <label>X1 <input type="text" size="10" id="x1" name="xx" /></label>
              <label>Y1 <input type="text" size="4" id="y1" name="yy" /></label>
              <label>X2 <input type="text" size="4" id="x2" name="x2" /></label>
              <label>Y2 <input type="text" size="4" id="y2" name="y2" /></label>
              <label>W <input type="text" size="4" id="w" name="ww" /></label>
              <label>H <input type="text" size="4" id="h" name="hh" /></label>
            </div>


          <fieldset class="requiresjcrop" style="margin: .5em 0;">
            <legend>Capture</legend>
            <div class="btn-group">
              <button class="btn" id="capture">Capture</button>
            </div>
          </fieldset>
          <fieldset class="requiresjcrop" style="margin: .5em 0;">
            <legend>Edit Selection</legend>
            <div class="btn-group">
              <button class="btn" id="eback" disabled>Back</button>
              <button class="btn" id="enext" disabled>Next</button>
            </div>
            <div class="btn-group">
              <button class="btn" id="edel" disabled>Delete</button>
            </div>
          </fieldset>

          <fieldset class="requiresjcrop" style="margin: .5em 0;">
            <div class="btn-group">
              <legend>Generate data</legend>
              <select id="selMo" style="margin-top: 8px;"></select>
              <button class="btn" id="gen">Generate</button>
            </div>
          </fieldset>
          <div></div>

          <div class="clearfix"></div>

        </div>
      </div>
    </div>
  </div>
  </body>

</html>

